<div class="model story <%= mark_scrum_status(story) %>" <%= build_inline_style(story).html_safe %> id="<%= story_html_id_or_empty(story) %>" _view="taskboard">
  <div class="id story_tooltip_ajax">
    <div class="tooltip_text"></div>
    <%= link_to story.id, {:controller => 'issues', :action => 'show', :id => story.id}, { :target => "_blank" } %>
    <div class="v"><%= story.id %></div>
    <% if User.current.allowed_to?(:create_tasks, @project) %>
    <span class="add_new">
      <%= image_tag("add.png", :alt => "+") %>
    </span>
    <% end %>
	<span class="assignee"><%= assignee_name_or_empty(story) %></span>
    <span class="remaininghours">(<%= story.remaining_hours.to_f %> <%= l(:label_hours) %>)</span>
  </div>
  <div class="assigned_to_id editable story_field" fieldtype="select" style="display: none;" fieldname="assigned_to_id" fieldlabel="<%=l(:field_assigned_to)%>">
    <div class="t"><%= assignee_name_or_empty(story) %></div>
    <div class="v"><%= assignee_id_or_empty(story) %></div>
  </div>
  <div class="subject editable story_field" fieldtype="textarea" fieldname="subject" fieldlabel="<%=l(:field_subject)%>" ><%=h story.subject %></div>
  <%- if @project != story.project %>
    <div class="project_id">
      <span class="t"><%= h story.project %></span>
      <span class="v"><%= story.project.id %></span>
    </div>
  <%- end %>
  <div class="status story_field status<%= status_id_or_default(story)%>"><%= status_label_or_default(story) %></div>
  <div class="status_id editable story_field" style="display: none;" fieldtype="select" fieldname="status_id_<%= story_html_id_or_empty(story) %>" fieldlabel="<%=l(:story_status)%>">
    <div class="t"><%= status_label_or_default(story) %></div>
    <div class="v"><%= status_id_or_default(story) %></div>
  </div>
  <div class="story_points story_points_text story_field"><%= story_points_or_empty(story) %></div>
  <% if Backlogs.setting[:story_points].blank? %>
      <div class="story_points editable story_points_text story_field" style="display: none;" fieldname="story_points" fieldlabel="<%=l(:story_points)%>" fieldtype="input"><%= story_points_or_empty(story) %></div>
  <% else %>
      <div class="story_points editable story_points_select story_field" style="display: none;" fieldtype="select" fieldname="story_points" fieldlabel="<%=l(:story_points)%>">
        <% %w(t v).each do |c| %>
            <div class="<%=h c %>"><%= story_points_or_empty(story) %></div>
        <% end %>
      </div>
  <% end %>
  <div class="meta">
    <div class="story_id"><%= id_or_empty(story) %></div>
    <div class="project_id"><%= story.project_id %></div>
    <div class="assigned_to_id"><%= assignee_id_or_empty(story) %></div>
    <div class="fixed_version_id"><%= story.fixed_version_id %></div>
    <div class="tracker_id"><%= tracker_id_or_empty(story) %></div>
    <div class="story_points"><%= story_points_or_empty(story) %></div>
    <%= render :partial => "backlogs/model_errors", :object => story.errors %>
    <div class="helper">
	  <select class="status_id helper" id="status_id_<%= story_html_id_or_empty(story) %>_options">
	    <option value="<%= story.status.id %>" class="<%= (story.status.is_closed? ?  l(:label_closed_issues) + ' ' : "") %>"><%= h story.status.name %></option>
	    <%- IssueStatus.new_statuses_allowed(story.status, @roles, story.tracker, story.project.workspace_id).each do |status| %>
	    <option value="<%= status.id %>" class="<%= (status.is_closed? ?  l(:label_closed_issues) + ' ' : "") %>"><%= h status.name %></option>
	    <%- end %>
	  </select>
	</div>
  </div>		  
</div>
