<li class="model story fff-wrapper <%= mark_if_closed(story) %> tracker<%= story ? story.tracker_id : '' %>" id="<%= story_html_id_or_empty(story) %>">
 <div class="fff-wrapmiddle">
   <div class="story_field fff-middle">
     <% if !story.category.nil? && User.current.backlogs_preference[:show_category] == '1' %>
         <span class="category"><%= story.category%></span>
     <%end%>
     <span class="editable subject" fieldname="subject" fieldlabel="<%=l(:field_subject)%>" fieldtype="textarea"><%=h story.subject %></span>
     <% if !story.assigned_to.nil?%>
         <% if User.current.backlogs_preference[:show_assigned_to_full] == '1' %>
          <span class = "assigned_to_full"> - <%= story.assigned_to%></span>
         <%end%>
         <% if User.current.backlogs_preference[:show_assigned_to_short] == '1' %>
             <span class = "assigned_to_full"> - <%= story.assigned_to.lastname[0]%>. <%= story.assigned_to.firstname[0]%>.</span>
         <%end%>
     <%end%>
  </div>
 </div>
 <div class="fff-left">
    <% qtip_cls = "story_tooltip"
       qtip_cls = "story_tooltip_ajax" unless defined?(render_tooltip)  %>
  <div class="id <%= qtip_cls %> story_field">
    <div class="tooltip_text"><%= render :partial => "rb_stories/tooltip", :object => story if defined?(render_tooltip) %></div>
    <div class="t"><%= issue_link_or_empty(story) %></div>
    <div class="v"><%= id_or_empty(story) %></div>
  </div>

  <% if User.current.backlogs_preference[:show_backlog_story_color] == '1' && story.assigned_to.present? %>
    <% task_color = story.assigned_to.backlogs_preference[:task_color] %>
    <div title="<%= story.assigned_to %>" class="assigned_to_color" style="background-color: <%= task_color %>; border-color: <%= task_color %>;"></div>
  <%end%>

  <div class="project editable story_field" fieldtype="select" fieldname="project_id" fieldlabel="<%=l(:field_project_id)%>">
    <div class="t"><%= story.project %></div>
    <div class="v"><%= story.project_id %></div>
  </div>

  <div class="tracker_id editable story_field" fieldtype="select" fieldname="tracker_id" fieldlabel="<%=l(:field_tracker_id)%>">
    <div class="t"><%= h tracker_name_or_empty(story) %></div>
    <div class="v"><%= tracker_id_or_empty(story) %></div>
  </div>
 </div>
 <div class="fff-right">
  <div class="status_id editable story_field" fieldtype="select" fieldname="status_id" fieldlabel="<%=l(:field_status_id)%>">
    <div class="t"><%= status_label_or_default(story) %></div>
    <div class="v"><%= status_id_or_default(story) %></div>
  </div>
  <% if Backlogs.setting[:story_points].blank? %>
  <div class="story_points editable story_points_text story_field" fieldname="story_points" fieldlabel="<%=l(:story_points)%>" fieldtype="input"><%= story_points_or_empty(story) %></div>
  <% else %>
  <div class="story_points editable story_points_select story_field" fieldtype="select" fieldname="story_points" fieldlabel="<%=l(:story_points)%>">
    <% %w(t v).each do |c| %>
      <div class="<%=h c %>"><%= story_points_or_empty(story) %></div>
    <% end %>
  </div>
  <% end %>
  <div class="fixed_version_id meta"><%= story.fixed_version_id %></div>
  <div class="release_id meta"><%= story.release_id %></div>
  <div class="user_status meta"><%= story.author == User.current ? '+' : '-' %>c<%= story.assigned_to == User.current ? '+' : '-' %>a</div>
  <div class="story_project meta"><%= story.project_id %></div>
  <% render_higher_item_id = false unless defined?(render_higher_item_id) %>
  <% if render_higher_item_id %>
  <div class="higher_item_id meta"><%= story.higher_item.nil? ? '' : story.higher_item.id %></div>
  <% end %>
  <div class="meta">
    <%= render :partial => "backlogs/model_errors", :object => story.errors unless story.errors.empty? %>
  </div>
 </div>
  <div class="clearfix"></div>
</li>
