<div class="model story <%= mark_if_closed(story) %>" <%= build_inline_style(story).html_safe %>>
  <div class="id story_tooltip_ajax">
    <div class="tooltip_text"></div>
    <%= link_to story.id, {:controller => 'issues', :action => 'show', :id => story.id}, { :target => "_blank" } %>
    <div class="v"><%= story.id %></div>
    <% if User.current.allowed_to?(:create_tasks, @project) %>
    <span class="add_new">
      <%= image_tag("add.png", :alt => "+") %>
    </span>
    <% end %>
    <span class="assignee editable" fieldtype="select" fieldname="assigned_to_id" fieldlabel="<%=l(:field_assigned_to)%>">
      <span class="t"><%= assignee_name_or_empty(story) %></span>
      <span class="v" style="display:none;"><%= assignee_id_or_empty(story) %></span>
    </span>
    <span class="remaininghours">(<%= story.remaining_hours.to_f %> <%= l(:label_hours) %>)</span>
  </div>
  <div class="status_id editable" fieldtype="select" fieldname="status_id" style="display:none;">
    <div class="t"><%= status_label_or_default(story) %></div>
    <div class="v"><%= status_id_or_default(story) %></div>
  </div>
  <div class="subject editable" fieldtype="textarea" fieldname="subject" fieldlabel="<%=l(:field_subject)%>"><%= h story.subject %></div>
  <%- if @project != story.project %>
    <div class="id project">
      <span class="t"><%= h story.project %></span>
      <span class="v"><%= story.project.id %></span>
    </div>
  <%- end %>
  <div class="story_points editable" fieldname="story_points" fieldlabel="<%=l(:field_story_points)%>"><%= story.story_points %></div>
  <div class="indicator"> </div>
  <div class="meta">
    <%= render :partial => "backlogs/model_errors", :object => story.errors unless story.errors.empty? %>
  </div>
</div>
