<% el = generic

  fakeelement = false
  qtip_cls = ''
  editable = ''
  subject = ''
  inline_style = ''
  issue_link = ''
  classes = ''
  if el.respond_to? :fakeelement
    fakeelement = true
    subject = el.subject
  elsif el.is_a? RbGeneric
    editable = 'editable'
    qtip_cls = "story_tooltip"
    qtip_cls = "story_tooltip_ajax" unless defined?(render_tooltip)
    subject = el.subject
    begin
      inline_style = build_inline_style(el).html_safe
    rescue
      inline_style = 'background-color: white;'
    end
    issue_link = issue_link_or_empty(el)
    classes = 'sortable '+ mark_if_closed(el) #sortable makes a move cursor
    classes += " tracker_color_#{el.tracker.id}" if el.respond_to?(:tracker) && ! el.tracker.blank?

  elsif el.is_a? RbSprint
    subject = el.name
    fakeelement = true
  elsif el.is_a? Group
    subject = el.name
    fakeelement = true
  else
    fakeelement = true
  end

%>
<div class="model issue <%= cls %> <%= classes %>" id="issue_<%= el.id %>" >

  <div class="id <%= qtip_cls %>">
    <div class="tooltip_text"><%= render :partial => "rb_stories/tooltip", :object => el if defined?(render_tooltip) %></div>
    <div class="t"><%= issue_link %></div>
    <div class="v"><%= id_or_empty(el) %></div>
  </div>
  <div class="subject <%= editable %>" fieldtype="textarea" fieldname="subject" fieldlabel="<%=l(:field_subject)%>"><%= h subject %></div>
  <% if !fakeelement %>
    <div class="description editable" style="display: none" fieldtype="textarea" fieldname="description" fieldlabel="<%=l(:field_description)%>"><%= h el.description %></div>
    <% if el.is_task? %>
      <div class="assigned_to_id editable" fieldtype="select" fieldname="assigned_to_id" fieldlabel="<%=l(:field_assigned_to)%>" <%= inline_style %>>
        <div class="t"><%= assignee_name_or_empty(el) %></div>
        <div class="v"><%= assignee_id_or_empty(el) %></div>
      </div>
      <% if Backlogs.settings[:show_priority] || el.priority_id != IssuePriority.default.id %>
        <div class="priority_id editable"  fieldtype="select"  fieldname="priority_id" fieldlabel="<%=l(:field_priority)%>">
          <div class="t"><%= h el.priority.name %></div>
          <div class="v"><%= el.priority_id %></div>
        </div>
      <% end %>
      <% if User.current.allowed_to?(:update_remaining_hours, @project) && Backlogs.settings[:use_remaining_hours] %>
        <div class="remaining_hours editable" fieldname="remaining_hours" fieldlabel="<%=l(:field_remaining_hours)%>"><%= remaining_hours_or_empty(el) %></div>
      <% end %>
      <% if User.current.allowed_to?(:log_time, @project) && @settings[:timelog_from_taskboard]=='enabled'  %>
        <div class="time_entry_hours editable" style="display: none" fieldname="time_entry_hours" fieldlabel="<%=l(:field_time_entry_hours)%>"></div>
        <% if User.current.allowed_to?(:edit_time_entries, @project) %>
          <div class="time_entry_user_id editable" fieldtype="select" fieldname="time_entry_user_id" fieldlabel="<%=l(:field_time_entry_user_id)%>">
            <div class="v" style="display: none" ><%= assignee_id_or_empty(el) %></div>
          </div>
        <% end %>
        <div class="Time_entry_spent_on editable date" fieldname="time_entry_spent_on" fieldlabel="<%=l(:field_time_entry_spend_on)%>" style="display:none"><%= Date.today %></div>
        <div class="Time_entry_comments editable" fieldtype=textarea fieldname="time_entry_comments" fieldlabel="<%=l(:field_time_entry_comments)%>"></div>
      <% end %>
    <% end #task %>

    <% if el.is_story? %>
      <%- if @project != el.project %>
        <div class="project">
          <span class="t"><%= h el.project %></span>
          <span class="v"><%= el.project.id %></span>
        </div>
      <%- end %>
      <% if Backlogs.setting[:story_points].blank? %>
          <div class="story_points editable story_points_text story_field" style="display: none;" fieldname="story_points" fieldlabel="<%=l(:story_points)%>" fieldtype="input"><%= story_points_or_empty(el) %></div>
      <% else %>
          <div class="story_points editable story_points_select story_field" style="display: none;" fieldtype="select" fieldname="story_points" fieldlabel="<%=l(:story_points)%>">
            <% %w(t v).each do |c| %>
                <div class="<%=h c %>"><%= story_points_or_empty(el) %></div>
            <% end %>
          </div>
      <% end %>
    <% end #story %>

    <div class="indicator"> </div>
    <div class="meta">
      <div class="story_id"><%= el.story ? el.story.id : '' %></div>
      <div class="status_id"><%= el.status_id %></div>
      <div class="project_id"><%= el.project_id %></div>
      <div class="user_status"><%= el.author == User.current ? '+' : '-' %>c<%= el.assigned_to == User.current ? '+' : '-' %>a</div>
      <div class="tracker_id"><%= tracker_id_or_empty(el) %></div>
      <%= render :partial => "backlogs/model_errors", :object => el.errors unless el.errors.empty? %>
    </div>
  <% else #fakeelement %>
    <div class="meta">
      <div class="story_id"><%= '0' %></div>
    </div>
  <% end #fakeelement %>
</div>
