<!-- Generic board view -->
<%# early javascript before common.hs %>
<%- controller.rb_jquery_plugins = capture do %>
  <%= javascript_include_tag(
    'jquery/jquery.qtip.pack.js',
    'jquery/jquery.qtip.setup.js',
    'jquery/jquery.multiselect.js',
    :plugin => 'redmine_backlogs') %>
<%- end %>
<%- content_for :head_tags do %>
  <script type="text/javascript"
          src="<%= url_for(:controller => 'rb_server_variables',
                           :action => 'project',
                           :project_id => @project.identifier,
                           :context => 'backlogs',
                           :format => 'js') %>">
  </script>

  <%= javascript_include_tag(
    'genericboard',
    'model',
    'editable_inplace',
    'sprint',
    'release',
    'issue',
    'story',
    :plugin => 'redmine_backlogs') %>
  <%= stylesheet_link_tag 'jquery/jquery.qtip.css', :plugin => 'redmine_backlogs' %>
  <%= stylesheet_link_tag 'jquery/jquery.multiselect.css', :plugin => 'redmine_backlogs' %>
  <%= stylesheet_link_tag 'genericboard.css', :plugin => 'redmine_backlogs', :media => 'print,screen' %>
<%- end %>

<%- content_for :breadcrumbs do %>
  <%= @rb_genericboard.name %>
<%- end %>

<%- content_for :view_specific_users do %>
  <span>
    <label for="select_board"><%= l(:label_rb_select_board) %></label>
    <select name="select_board" id="select_board">
      <%= genericboards_boardlist_options_for_select(@rb_genericboard.id) %>
    </select>
  </span>
<%- end %>

<% if false %>
<%- content_for :view_specific_links do %>
  <a id="disable_autorefresh">Disable Auto-refresh</a>
  <a id="refresh">Refresh</a>
<%- end %>
<% end #if false %>

<%- content_for :main do %>
  <div id="genericboard_container">
<table>
  <tr>
    <td><%= @rb_genericboard.row_type_name %></td>
    <% @columns.each do |column| %>
    <td _col_id="<%= column.id %>"><%= column.name %></td>
    <% end %>
  </tr>
  <% @rows.each do |row| %>
    <tr _row_id="<%= row.id %>">
      <td><%= row %></td>
      <% @rb_genericboard.columns(@project).each do |col| %>
      <td _col_id="<%= col.id %>">
        <% if (@elements_by_cell.include? row.id) && (@elements_by_cell[row.id].include? col.id) %>
          <% @elements_by_cell[row.id][col.id].each do |element| %>
          <div><%= element.id %> <%= element.subject %></div>
          <% end %>
        <% end %>
      </td>
      <% end %>
    </tr>
  <% end %>
</table>
  </div>

<%- end %>
