<!-- Generic board view -->
<%# early javascript before common.hs %>
<%- controller.rb_jquery_plugins = capture do %>
  <%= javascript_include_tag(
    'jquery/jquery.qtip.pack.js',
    'jquery/jquery.qtip.setup.js',
    'jquery/jquery.multiselect.js',
    :plugin => 'redmine_backlogs') %>
<%- end %>
<%- content_for :head_tags do %>
  <script type="text/javascript"
          src="<%= url_for(:controller => 'rb_server_variables',
                           :action => 'project',
                           :project_id => @project.identifier,
                           :genericboard_id => @rb_genericboard.id,
                           :context => 'backlogs',
                           :format => 'js') %>">
  </script>

  <%= javascript_include_tag(
    'genericboard',
    'model',
    'editable_inplace',
    'sprint',
    'release',
    'issue',
    #'story',
    'generic',
    :plugin => 'redmine_backlogs') %>
  <%= stylesheet_link_tag 'jquery/jquery.qtip.css', :plugin => 'redmine_backlogs' %>
  <%= stylesheet_link_tag 'jquery/jquery.multiselect.css', :plugin => 'redmine_backlogs' %>
  <%= stylesheet_link_tag 'taskboard.css', :plugin => 'redmine_backlogs', :media => 'print,screen' %>
  <%= stylesheet_link_tag 'genericboard.css', :plugin => 'redmine_backlogs', :media => 'print,screen' %>
<%- end %>

<%- content_for :breadcrumbs do %>
  <%= @rb_genericboard.name %> <% unless @rb_genericboard.prefilter_name.blank? %>(<%= @rb_genericboard.prefilter_name %>)<% end %>
<%- end %>

<%- content_for :view_specific_users do %>
  <span>
    <label for="select_board"><%= l(:label_rb_select_board) %></label>
    <select name="select_board" id="select_board">
      <%= genericboards_boardlist_options_for_select(@rb_genericboard.id) %>
    </select>
  </span>

  <span>
    Prefilter name <%= @rb_genericboard.prefilter_name %>
  </span>
  <span>
    Prefilter objects <%= @rb_genericboard.prefilter_objects(@project).each.collect {|f, o| o.name unless o.nil?} %>
  </span>
<%- end %>

<%- content_for :view_specific_links do %>
  <span id="col_width" title="Set to 0 for auto width"><%= l(:label_column_width) %>: <input name="col_width"/></span>
<% if false %>
  <a id="disable_autorefresh">Disable Auto-refresh</a>
  <a id="refresh">Refresh</a>
<% end #if false %>
<%- end %>

<%- content_for :main do %>
  <div id="taskboard" _row_type_name="<%= @rb_genericboard.row_type_name %>" _element_type_name="<%= @rb_genericboard.element_type_name %>"
      _row_type="<%= @rb_genericboard.row_type %>" _element_type="<%= @rb_genericboard.element_type %>">
    <table id="board_header" cellspacing="0">
      <tr>
        <td><%= @rb_genericboard.row_type_name %></td>
        <% @columns.each do |column| %>
        <td class="swimlane" _col_id="<%= column.id %>"><%= column.name %></td>
        <% end %>
      </tr>
    </table>

    <table id="generics" class="board" cellspacing="0">
      <tbody class="row-list">
      <% @rows.each do |row| %>
        <tr id="swimlane-<%= row.id %>" class="story-swimlane ui-sortable">
          <td id="<%= row.id %>_rowelement">
            <%= render :partial => "generic", :object => row, :locals => { :cls => 'rowelement' } %>
          </td>
          <% @rb_genericboard.columns(@project).each do |col| %>
          <td class="swimlane list" id="<%= row.id %>_<%= col.id %>" _col_id="<%= col.id %>">
            <% if (@elements_by_cell.include? row.id) && (@elements_by_cell[row.id].include? col.id) %>
              <%= render :partial => "generic", :collection => @elements_by_cell[row.id][col.id], :locals => { :cls => 'task' }%>
            <% end %>
          </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<%- end %>

<%- content_for :helpers do %>
  <div id="add_button_template">
    <div class="addbutton">
      <%= image_tag("add.png", :alt => "+") %>
    </div>
  </div>

  <div id="task_template">
    <%= render :partial => "generic", :object => RbGeneric.new, :locals => { :cls => 'task' } %>
  </div>
  <table id="row_template">
        <tr id="swimlane-new" class="story-swimlane ui-sortable">
          <td id="new_rowelement">
            <%= render :partial => "generic", :object => RbGeneric.new, :locals => { :cls => 'rowelement' } %>
          </td>
          <% @rb_genericboard.columns(@project).each do |col| %>
          <td class="swimlane list" id="new_<%= col.id %>" _col_id="<%= col.id %>">
          </td>
          <% end %>
        </tr>
  </table>

<%- end %>
