<!-- EPICBOARD VIEW -->
<% content_for :head_tags do %>
  <%= javascript_include_tag  'show_main', 'board_updater', 'epicboard', 'model', 'issue', 'task', 'story_eb', 'jquery/jquery.multiselect.js', 'jquery/jquery.qtip.pack.js', 'jquery/jquery.qtip.setup.js', :plugin => 'redmine_backlogs' %>
  <%= stylesheet_link_tag 'jquery/jquery.qtip.css', :plugin => 'redmine_backlogs' %>
  <%= stylesheet_link_tag 'jquery/jquery.multiselect.css', :plugin => 'redmine_backlogs' %>
  <%= stylesheet_link_tag 'epicboard.css', :plugin => 'redmine_backlogs', :media => 'print,screen' %>

  <script type="text/javascript"
          src="<%= url_for(:controller => 'rb_server_variables',
                           :action => 'project', :project_id => @project.id,
                           :context => 'epicboard',
                           :format => 'js') %>">
  </script>
<% end %>

<% content_for :breadcrumbs do %>

  <%= link_to l(:label_master_backlog), :controller => "rb_master_backlogs", :action => "show", :project_id => @project %>
  <%= breadcrumb_separator %>
  <%= h @project.name %>

<% end %>

<%- content_for :view_specific_links do %>
  <span id="col_width"><%= l(:label_column_width) %>: <input name="col_width"/></span>
<%- end %>

<%- content_for :main do %>
<span id="userid" style="visibility:hidden;"><%= User.current.id %></span>
<div id="epicboard">

  <table id="board_header" cellspacing="0">
    <tr>
      <td><%= l(:backlogs_epic) %></td>
      <td class="swimlane"><%= h @product_backlog[:sprint].name %></td>
      <%- @columns.each do |col|  %>
      <td class="swimlane"><%= h col[:sprint].name %></td>
      <%- end %>
    </tr>
  </table>

  <table id="stories" class="board" cellspacing="0">
    <%- @epics.each do |epic| %>
    <tr id="swimlane-<%= epic.id %>" class="epic-swimlane" _rb_parent_id="<%= epic.id %>">
      <td>
        <div class="epic <%= mark_if_closed(epic) %>" <%= build_inline_style(epic).html_safe %>>
          <div class="id epic_tooltip">
            <div class="tooltip_text"><%= render :partial => "rb_stories/tooltip", :object => epic %></div>
            <%= link_to epic.id, {:controller => 'issues', :action => 'show', :id => epic.id}, { :target => "_blank" } %>
            <span class="add_new">
              <%= image_tag("add.png", :alt => "+") %>
            </span>
            <span class="assignee">
              <%= assignee_name_or_empty(epic) %>
            </span>
          </div>
          <div class="subject"><%= h epic.subject %></div>
          <%- if @project != epic.project %>
            <div class="id project">
              <span class="t"><%= h epic.project %></span>
              <span class="v"><%= epic.project.id %></span>
            </div>
          <%- end %>
        </div>
      </td>
      <td class="swimlane list" id="<%= epic.id %>_<%= @product_backlog[:sprint].id %>" _rb_type="<%= @product_backlog[:type] %>" _rb_sprint_id="<%= @product_backlog[:sprint].id %>">
        <%=
        list = @product_backlog[:stories].select{|s| s.kind_of?(RbStory) and s.parent_id == epic.id}
        render :partial => "rb_stories/story_eb", :collection => list, :as => :story
       %>
      </td>
      <%- @columns.each do |col| %>
      <td class="swimlane list" id="<%= epic.id %>_<%= col[:sprint].id %>" _rb_type="<%= col[:type] %>" _rb_sprint_id="<%= col[:sprint].id %>">
        <%=
          list = col[:stories].select{|s| s.kind_of?(RbStory) and s.parent_id == epic.id}
          render :partial => "rb_stories/story_eb", :collection => list, :as => :story
       %>
      </td>
      <%- end %>
    </tr>
    <%- end %>

    <tr id="unassigned_stories" _rb_parent_id="">
      <td><div class="label_sprint_impediments primary">
            <span class="add_new">
              <%= image_tag("add.png", :alt => "+") %>
            </span>
            <%= l(:backlogs_stories_in_no_epic) %>
      </div></td>
      <td class="swimlane list" id="impcell_<%= @product_backlog[:sprint].id %>" _rb_type="<%= @product_backlog[:type] %>" _rb_sprint_id="<%= @product_backlog[:sprint].id %>">
        <%=
        list = @product_backlog[:stories].select{|s| s.kind_of?(RbStory) and RbStory.trackers.include?(s.tracker_id) and s.parent.nil? }
        render :partial => "rb_stories/story_eb", :collection => list, :as => :story
        %>
      </td>
      <%- @columns.each do |col| %>
      <td class="swimlane list" id="impcell_<%= col[:sprint].id %>" _rb_type="<%= col[:type] %>" _rb_sprint_id="<%= col[:sprint].id %>">
        <%=
          list = col[:stories].select{|s| s.kind_of?(RbStory) and RbStory.trackers.include?(s.tracker_id) and s.parent_id.nil? }
          render :partial => "rb_stories/story_eb", :collection => list, :as => :story
        %>
      </td>
      <%- end %>
    </tr>
  </table>

</div>
<%- end %>

<%- content_for :helpers do %>
  <select class="time_entry_user_id template" id="time_entry_user_id_options">
    <%- users_allowed_to_log_on_task.each do |u| %>
      <option value="<%= u[1] %>"><%= u[0] %></option>
    <%- end %>
  </select>

  <select class="priority_id template" id="priority_id_options">
    <%- IssuePriority.all.each do |p| %>
    <option value="<%= p.id %>"><%= h p.name %></option>
    <%- end %>
  </select>

  <select class="assigned_to_id template" id="assigned_to_id_options">
    <option value="" color="#AAAAAA" color_light="#E0E0E0"> </option>
    <%= users_assignable_options_for_select(@project.assignable_users) %>
  </select>

  <select class="tracker_id template" id="tracker_id_options">
    <%= tracker_options_for_select()  %>
  </select>
  <div id="story_template">
    <%= render :partial => "rb_stories/story_eb", :collection => [RbStory.new], :as => :story %>
  </div>
  <!-- end of templates -->
  <div id="issue_editor"> </div>
  <div class="meta" id="last_updated"><%= date_string_with_milliseconds( (@last_updated.blank? ? Time.now : @last_updated.updated_on) )  %></div>
  <div id="charts"> </div>
  <div id="preloader">
    <div id="spinner"> </div>
    <div id="warning"> </div>
  </div>
<%- end %>
